.nav-bar {
    display:flex;
    justify-content: space-between;
    height: 70px; 
    color: $text-black; 
    font-family: $sans-serif;
    font-weight: 400;
}

.logo, 
.nav-button-list, 
.nav-button-list-logged {
    display: flex;
	align-items: center;
}

.logo {
    width: 50%; 
    padding: 0 29px 0 29px; 
}

.logo-placeholder {
    width: 203px;
}

.nav-button-list {
    margin: 0 5px 0 0; 
    justify-content: space-between;
    width: 300px;
    padding: 10px; 
}

.nav-button-list-logged {
    margin: 0 5px 0 0; 
    justify-content: space-between;
    width: 220px;
    padding: 10px; 
}

.nav-button-list > li {
    font-size: 15.5px;
	cursor: pointer; 
}

.nav-buttons:hover {
    border-bottom: 2px solid $turquoise;
    
}

.demo-button {
    padding: 8px; 
    border: 3px solid $turquoise;
    background-color: $turquoise;
    color: white;
    border-radius: 5px;
}

.demo-button:hover {
    background-color: white; 
    color: $turquoise; 
}

.bear-dropdown-button {
    padding: 8px;
    position: relative;
    z-index: 3;
}

.bear-dropdown {
    position: absolute;
    right: 0px; 
}
.dropdown-area {
    position: absolute; 
    width: 200px;
    height: 200px; 
    right: 0px;
    top: -30px;
}

.arrow {
    position: absolute;
    top: 0; 
    height: 0px; 
    width: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $border-light-grey;
    position: absolute;
    right: 16px;
    z-index: 5;
}
.empty-arrow {
    position: absolute;
    top: 0; 
    height: 0px; 
    width: 0px;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 19px solid white; 
    z-index: 6;
    position: absolute;
    right: 17px;
    top: 2px
}

.bear-dropdown-ul {
    position: absolute;
    border: 1px solid $border-light-grey; 
    width: 200px; 
    right: 0px;
    padding: 24px;
    top: 20px; 
    background-color: white;

}

.bear-dropdown-ul > li {
   width: 200px;
   border-bottom: 1px solid $border-light-grey;
}

 .dropdown-button {
     padding-bottom: 12px;
     width: 200px;
 }

 .dropdown-button:hover {
     padding-left: 15px; 
 }

.bear-dropdown-button:hover > .bear-dropdown {
    display: block; 

}

.bear-icon {
    height: 55px; 
    width: 55px;
}

.logo-placeholder {
    width: 240px; 
}











