.nav-bar {
    display:flex;
    justify-content: space-between;
    height: 70px; 
    color: $text-black; 
    font-family: $sans-serif;
    font-weight: 400;
}

.logo, 
.nav-button-list, 
.nav-button-list-logged {
    display: flex;
	align-items: center;
}

.logo {
    width: 203px; 
    padding: 0 29px 0 29px; 
}

.nav-button-list {
    margin: 0 5px 0 0; 
    justify-content: space-between;
    width: 300px;
    padding: 10px; 
}

.nav-button-list-logged {
    margin: 0 5px 0 0; 
    justify-content: space-between;
    width: 220px;
    padding: 10px; 
}

.nav-button-list > li {
    font-size: 15.5px;
	cursor: pointer; 
}

.nav-buttons:hover {
    border-bottom: 2px solid $turquoise;
    
}

.demo-button {
    padding: 8px; 
    border: 3px solid $turquoise;
    background-color: $turquoise;
    color: white;
    border-radius: 5px;
}

.demo-button:hover {
    background-color: white; 
    color: $turquoise; 
}

.bear-dropdown-button {
    padding: 8px;
    position: relative;

}

.bear-dropdown {
    position: absolute;
    right: 0px
}

.arrow {
    height: 20px; 
    width: 20;
    border: 1px solid $border-light-grey;
}

.bear-dropdown-ul {
    // position: absolute;
    border: 1px solid $border-light-grey; 
    width: 200px; 
    // right: 0px;
    padding: 20px;
    // top: 40px; 

}

.bear-dropdown-button:hover > .bear-dropdown {
    display: block; 

}












