.your-review-index-item {
    display: flex;
    margin: 30px 0px; 
}

.your-review-index-item-photo {
    width: 300px; 
    height: 225px;
}

.your-review-index-item-photo {
    object-fit: cover;
}

.your-review-index-item-info {
    height: 225px;
    width: 420px;
    border-right: 1px solid $border-light_grey; 
    border-top: 1px solid $border-light_grey; 
    border-bottom: 1px solid $border-light_grey; 
    box-sizing: border-box;
    padding: 10px 15px;
}

.review-index-spot-name {
    display: flex;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 10px;
}

.review-index-spot-name > :last-child{
    border-bottom: 1px solid $border-light_grey;
    padding-bottom: 2px;
}

.review-index-spot-name > :last-child:hover {
    border-bottom: 1px solid $text-black;
    cursor: pointer;
}

.review-chevron-right {
    margin: 0px 10px; 
    font-size: 10px;
    padding-top: 2px;
    color: $grey;
}

.your-review-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.your-review-date-made {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 7px;
    color: $grey;
}

.your-review-body {
    padding: 10px 10px;
    height: 80px; 
    border: 1px solid $border-light_grey; 
    overflow: auto; 
    margin-bottom: 7px;
}

.your-review-body > p {
    font-size: 15px;
    line-height: 20px;
}

.your-review-index-item-buttons {
    display: flex;
}
