.login-form-background { 
    z-index: 11;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.signup-form-background { 
    z-index: 11;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo-form-background { 
    z-index: 11;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-form-box {
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -165px;
    width: 330px;
    background: #fff;
    z-index: 12;
    // box-shadow: 10px 10px 10px rgba(235, 235, 235, 0.9);
    box-shadow: 1px 1px 10px 5px rgba(117, 117, 117, 0.2);
}

.login-form-container {
    font-family: $sans-serif;
}

.form-messages {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.form-header-message {
    font-size: 22px;
    font-weight: 600;
    color: $text-black;
    padding-bottom: 10px;
}

.form-header-submessage {
    font-size: 15px;
    font-weight: 250;
    color: $grey; 
}

.errors {
    text-align: center;
    font-family: $sans-serif;
    padding: 5px;
    color: $pinkish-red; 
    margin-left: 15px;
}

.login-input {
    box-sizing: border-box;
    border: 1px solid $text-black;
    height: 68px; 
    width: 300px;
    padding: 16px; 
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;
}

.login-input-name {
    box-sizing: border-box;
    border: 1px solid $text-black;
    height: 68px; 
    width: 145px;
    padding: 16px; 
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}

.first-last-names-inputs {
    width: 300px;
    margin-left: 15px;
}

.first-last-names-inputs > :first-child {
    margin-right: 8px;
}


.login-button {
    margin-top: 10px;
    width: 300px; 
    height: 57px; 
    background-color: $turquoise;
    color: white; 
    text-align: center;
    border-radius: 50px;
    font-size: 17.5px;
    font-weight: 400;
    margin-left: 15px;
    
}

.login-button:hover {
    margin-top: 7px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 10px 1px rgba(117, 117, 117, 0.2);
}

.alternative-login-link {
    box-sizing: border-box;
    display: flex;
    height: 52px; 
    justify-content: center;
    padding-top: 17px;
    margin-top: 20px;
    background-color: #F9F9F9;
    color: $text-black; 
    font-size: 14px;
}

.alternative-login-link > :first-child {
    font-weight: 250;
    padding-right: 4px;
}

.alternative-login-link > :last-child {
    font-weight: 600;
    cursor: pointer;
}

.alternative-login-link > :last-child > p {
    padding-bottom: 3px;
    border-bottom: 1px solid $border-light-grey;
}

.alternative-login-link > :last-child > p:hover {
    border-bottom: 1px solid $text-black;
}

.t-cs {
    margin: 15px 15px 0px 15px; 
    padding: 0px 45px; 
    font-size: 12px;
    color: $grey;
    text-align: center;  
}

.some-space {
    height: 500px;
}