.map {
    flex-grow: 1;
    width: 30%; 
    min-width: 300px;  
    position: relative;
    margin-top: 20px;
}

.map-sticky {
    position: sticky; 
    top: 0;
    width: 100%; 
    min-width: 280px;
    
}

#map-container {
    height: 650px;
    position: sticky; 
}