.spot-show {
    width: 80%;
    margin: 0 auto;
    font-family: $sans-serif;
    color: $text-black; 
}

.spot-header {
    width: 70%; 
    border-bottom: 1px solid $border-light-grey;
}

.spot-header-location {
    display: flex; 
    font-size: 15px;
    margin: 15px 0px;
    
}

.spot-header-location > li {
    margin-right: 12px;
}

.chevron-right {
    font-size: 10px;
    box-sizing: border-box;
    padding-top: 3px;
    color: $grey;
}

.spot-header-park {
    border-bottom: 1px solid $border-light-grey;
    padding-bottom: 2px;
}

.spot-header-park:hover {
    border-bottom: 1px solid $text-black;
}

.spot-header-name {
    font-size: 40px;
    margin-bottom: 15px;
}

.spot-header-nearby {
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
}

.spot-header-nearby > :first-child{
    margin-right: 5px;
    font-weight: 600;
}

.spot-header-nearby > :last-child{
    // font-weight: 300;
}

.spot-description-host {
    width: 70%; 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.host-area {
    display: flex;
    width: 200px; 
    height: 90px;
    align-items: center;
}

.host-area > :first-child{
    font-size: 80px;
}

.hosted-by {
    margin-left: 10px;
}

.hosted-by > :first-child {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.hosted-by > :last-child {
    font-size: 15px;
}

.description-area {
    width: 450px;
}

.description-area > :first-child {
    box-sizing: border-box;
    padding: 15px;
    color: $violet-purple;
    background-color: $light-purple;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.description-area > :last-child {
    font-size: 15px;
    line-height: 25px;
}

.spot-amenities {
    margin-top: 40px;
    width: 70%;
}

.spot-amenitities-card {
    display: flex;
    width: 720px;
}

.amenity-box {
    width: 215px;
    height: 320px; 
    border: 1px solid $border-light-grey; 
    margin-right: 20px;
    box-sizing: border-box;
    padding: 25px 15px;
}

.amenity-box > :last-child {
    margin-right: 0px;
}

.amenity-box > h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.amenity-box > li {
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.box-icons {
    font-size: 17px;
    width: 30px;
    position: relative;
}

.vehicle-details {
    border: 1px solid $border-light-grey;
    margin-top: 20px;
    padding: 25px 15px;
    width: 685px;
    box-sizing: border-box;
}
.vehicle-details > h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.vehicle-details-lists {
    display: flex;
}

.amenity-box-big > :first-child {
    margin-right: 140px;
}

.amenity-box-big > li {
    display: flex;
    margin-bottom: 12px;
    font-size: 15px;
}

.amenity-false {
    color: $grey;
}

.amenity-false > :first-child:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 141.421356%;
    top: -20.710678%;
    display: block;
    background: $text-black;
    left: 35%;
    transform: translate(-50%, 0) rotate(90deg);
}

.spot-check-in {
    width: 70%;
    border-top: 1px solid $border-light-grey;
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 35px;
}

.spot-check-in-inner {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.spot-check-in-inner > p {
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    padding-top: 5px;
}

.spot-check-in-col > li {
    line-height: 25px;
    display: flex;
    margin-left: 30px;
    font-size: 15px;
}

.spot-check-in-col > li > p {
    font-weight: 600;
    margin-right: 5px;
}